<ng-container *ngIf="order$ | async as order">
  <table class="table">
      <thead>
        <tr>
          客戶 id：  {{ order.userId }}
        </tr>
        <tr>
          <th>訂單日期： {{ order.datePlaced | date }} </th>
        </tr>
      </thead> 
      <tbody>
        <tr >
          <td>收件人： {{ order.shipping.name }} </td>
        </tr>
        <tr>
            <td>地址：{{ order.shipping.city }} {{ order.shipping.addressLine1 }}</td>
        </tr>
        <th>
          項目：
        </th>
        <tr *ngFor="let item of order.items">
          {{ item.product.title }} x {{ item.quantity }} = <div class="float-right">{{ item.totalPrice | currency:'TWD':true:'1.0-0'  }}</div>

        </tr>
        <tr>
          運費: <div class="float-right">{{ order.shippingFee | currency:'TWD':true:'1.0-0' }}</div> 
        </tr>
        <th>
          共計：<div class="float-right">{{ order.sumPrice | currency:'TWD':true:'1.0-0' }}</div>
        </th>
      </tbody> 
    </table>

</ng-container>

