<div class="card" >
  <div class="card-body">
    <h4 class="card-title">訂單一覽</h4>
    <p class="card-text">你目前有 {{ cart.totalItemCount }} 項物品在訂單中。</p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice | currency:'TWD':true:'1.0-0' }}
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        總計：<div class="float-right">{{ cart.totalPrice | currency:'TWD':true:'1.0-0' }}</div>
      </li>
    </ul>
    
  </div>
</div>