
<table class="table table-hover">
  <thead class="text-center">
    <tr>
      <th>
        東麗農產
      </th>
    </tr>
    
  </thead>
  <tbody>
      <tr class="row">
          <td class="col-md-2">
            連絡人:
          </td>
          <td class="col-md-10">楊先生/楊太太</td>
        </tr>
    <tr class="row">
      <td class="col-md-2">
        手機:
      </td>
      <td class="col-md-10">0911-131675</td>
    </tr>
    <tr class="row">
        <td class="col-md-2">
          電話:
        </td>
        <td class="col-md-10">04-23131675</td>
    </tr>
    <tr class="row">
        <td class="col-md-2">
          地址:
        </td>
        <td class="col-md-10">雲林縣口湖鄉厝子村23-5號</td>
    </tr>
  </tbody>
</table>