<h2></h2>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col px-0">
      <h1 class="display-4 font-italic">東麗農場簡介</h1>
      <p class="lead my-3">東麗農場是退休的一對夫妻經營。小量生產健康新鮮的農漁產品給親友團購，口碑相傳，產地直送，希望大家喜歡。</p>
      <p class="lead mb-0"><a routerLink="/contact" class="text-white font-weight-bold">農場主楊先生，人稱牛哥，退休後經營農場多年，先後栽種有機香蕉、百香果、檸檬，養殖魚蝦。樂在過程與分享、學習。歡迎鄉親參觀指教。</a></p>
    </div>
  </div>

<div class="col-md">
  <div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-primary">魚蝦池</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">近照分享</a>
      </h3>
      <div class="mb-1 text-muted">2018</div>
      <p class="card-text mb-auto">位於口湖鄉小日月潭附近的養魚蝦池，附近水質乾淨，空氣清新。</p>
  
    </div>
    <img class="float-right" src="https://mikeyang0626.files.wordpress.com/2018/07/img_6491.jpg?w=474" >
  </div>
</div>

<div class="col-md">
  <div class="card flex-md-row mb-4 box-shadow h-md-250">
    <div class="card-body d-flex flex-column align-items-start">
      <strong class="d-inline-block mb-2 text-success">百香果</strong>
      <h3 class="mb-0">
        <a class="text-dark" href="#">影片</a>
      </h3>
      <div class="mb-1 text-muted">
        從前...
      </div>
      <p class="card-text mb-auto"> 有機百香果，栽種收獲，開放給親友觀光採果。</p>
  
    </div>
    
    <iframe width="854" height="480" src="https://www.youtube.com/embed/aZwkkHUNu_I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    
  </div>
</div>
  
