<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
  <div class="container">
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-leaf" ></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      
        <ul class="navbar-nav mr-auto ">
  
          
          <li  class="nav-item">
              <a class="nav-link" routerLink="/about">簡介</a>
            </li>
          <li  class="nav-item">
              <a class="nav-link" routerLink="/contact">連絡</a>
            </li>
          <ng-template #anonymousUser>
            <li  class="nav-item">
              <a class="nav-link" routerLink="/login">登入</a>
            </li>
          </ng-template>
          <li class="nav-item">
              <a class="nav-link" routerLink="/shopping-cart">
                <i class="fa fa-cart-arrow-down"></i><span class="badge badge-warning badge-pill" 
                  *ngIf="cart$ | async as cart" >
                    {{ cart.totalItemCount }}
                  </span>
              </a>
              
            </li>
          <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
            <a ngbDropdownToggle  class="nav-link dropdown-toggle"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ appUser.name }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" routerLink="/my/orders">訂單</a>
              <ng-container *ngIf="appUser.isAdmin">
                <a class="dropdown-item" routerLink="/admin/orders">訂單管理</a>
                <a class="dropdown-item" routerLink="/admin/products">產品編輯</a>
              </ng-container>
              
              <a class="dropdown-item" (click)="logout()" >登出</a>
            </div>
          </li>
          
        </ul>
        
  </div>
  
  
</nav>